<!DOCTYPE html>
<html>
<head>
  <title>TypeStation</title>
  <%= stylesheet_link_tag    "type_station/application", media: "all" %>
  <%= javascript_include_tag "type_station/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
