- present model, ::TypeStation::AdminBarPresenter do |p|
  #ts-admin-bar-edit
    %button.ts-button.ts-button-primary
      %i.ion-compose

  #ts-admin-bar.ts-hidden
    %ul
      %li.ts-brand
        %i.ion-document-text
      %li.ts-title
        = p.field :title, content_tag: :p, id: 'ts-admin-bar-title' do
          Untitled
      %li.ts-actions
        .ts-button-group
          = p.edit content_tag: :button, id: 'ts-admin-bar-settings', class: 'ts-button ts-options' do
            %i.ion-android-settings
          %button#ts-admin-bar-cancel.ts-button
            %i.ion-android-close
          %button#ts-admin-bar-save.ts-button.ts-button-primary
            %i.ion-android-done
