$primary-color: #fff; 
$primary-border-color: #ccc;

$secondary-color: #428bca;
$secondary-border-color: #357ebd;

.ts-button-group {
  display: table;
  button {
    display: table-cell;
  }
}

.ts-hidden {
  display: none;
}

.ts-button {
  font-size: 1em;
  background: #eee;
  color: #444;
  border: 0px;
  padding: 7px 5px;
  margin: 0px;
  outline: none;
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  &:hover { background: darken(#eee, 8%); }
}

.ts-button-primary {
  background: rgba(27,33,36,0.67);
  color: #fff;
  &:hover { background: rgba(27,33,36,0.9); }
}

.ts-progress-bar {
  width: 0;
  height: 5px;
  background: $primary-border-color;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
}

.ts-editable-image, .ts-editable-file { position: relative;}
.ts-editable-button {
  position: absolute;
  bottom:0px;
  left: 0px;
  z-index: 10;
  display: none;
  font-size: 17pt;
  box-sizing: content-box;
  line-height: 1;
  background: rgba(27,33,36,0.67);
  color: #fff;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  i { vertical-align: middle; }
  &:hover { background: rgba(27,33,36,0.87); }
}

body.ts-edit-mode {
  .ts-editable-html, .ts-editable-image, .ts-editable-file, .ts-editable-text {
    border: 1px solid transparent;
    outline: none;
    -webkit-transition: border 0.5s;
    transition: border 0.5s;
    &:hover { outline: 1px solid #428bca; }//$primary-border-color; }
  }
  .ts-editable-button { display: block; }
}

.vex-custom-field-wrapper {
  margin: 1em 0;
}
.vex-custom-field-wrapper > label {
  display: inline-block;
  margin-bottom: .2em;
}
.vex-custom-input-wrapper > select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width: 100%;
  height: 40px;
  padding: 0.25em 0.67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
}


.medium-editor-toolbar {
  background: $primary-color;
  border: 1px solid $primary-border-color;
}
.medium-editor-toolbar li button {
  border-right: 1px solid $primary-border-color;
  color: #666;
}
.medium-toolbar-arrow-under:after {
  border-color: $primary-color transparent transparent transparent;
  border: none;
}
.drop-element.drop-theme-arrows-bounce-dark { z-index: 1001; }
.drop-element.drop-theme-arrows-bounce-dark .drop-content {
  background: darken($primary-color, 1%);
  border: 1px solid lighten($primary-border-color, 1%);
  border-radius: 4px;
  padding: 0.5em 0;
  ul.ts-model-fields {
    margin: 4px 15px;
    padding: 0;
    &:after { 
      content: '';
      display: table;
      clear: both;
    }
    li { 
      &.ts-inline-field { float: left; }
      label { 
        display: inline-block;
        padding-right: 10px;
      }
      input { 
        height: 2.5em;
        font-size: 13.5pt;
        padding: 5px;
        border: 1px solid $primary-border-color;
        color: #444;
        outline: none;
      }
      button { 
        width: 1.8em;
        height: 1.7em;
        font-size: 1.5em;
      }
    }
  }
}
.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before {
  border-bottom-color: lighten($primary-border-color, 1%); //$primary-color;
  // border: none;
}
.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
  border-top-color: lighten($primary-border-color, 1%); ///$primary-color;
  // border: none;
}
.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before {
  border-top-color: lighten($primary-border-color, 1%); ///$primary-color;
  // border: none;
}


.ts-file-style {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11pt;
  border-radius: 4px;
  border: 1px solid $secondary-border-color;
  background-color: $secondary-color;
  color: $primary-color;
  margin: 8px 15px;
  padding: 4px 15px;
  cursor: pointer;
  transition: background-color .5s;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  i.ts-file-style-icon {
    vertical-align: middle;
    font-size: 1.7em;
  }
  span.ts-file-style-text {
    margin-right: 15px;
  }
  &:hover { background-color: $secondary-border-color; }
}

/* Hack for ionicicons v2 (no animation code) */
.ion-spin-animation { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
.ion-load-a.ion-spin-animation { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }